<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:test="http://com.zhengjy.tag/schema/test"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://com.zhengjy.tag/schema/test
       http://com.zhengjy.tag/schema/test/spring-test.xsd">

        <test:user email="1010267837@qq.com" userName="xxxx" id="user"/>
        <bean id="fooBar" name="x1,x2,x3"  class="com.zhengjy.spring.news.FooBar">
        </bean>
</beans>