.gradle/*
build/*
.idea/*
*.settings
duiba-manager-api.iml
duiba-manager-biz/duiba-manager-biz.iml
duiba-manager-common/duiba-manager-common.iml
duiba-manager-deploy.iml
duiba-manager-common/build/*
duiba-manager-web.iml
/bin/
/logs/
/.idea/
/.gragle/
/.settings/

.classpath
.project
.project
.gradle
robDetail-insertdata.vm
robIndex-orderlist.vm
robIndex-puguang.vm
/build/

RequestLocal.java
spring-project.xml
activity-access-web.iml

/out/
/build/
*.classpath
/target/
zhengjy-demo-api/target/
zhengjy-demo-biz/target/
zhengjy-demo-common/target/
zhengjy-demo-deploy/target/
.idea/workspace.xml
zhengjy-demo.iml
zhengjy-demo-api/zhengjy-demo-api.iml
zhengjy-demo-biz/zhengjy-demo-biz.iml
zhengjy-demo-common/zhengjy-demo-common.iml
*.iml
*.idea