<?xml version="1.0" encoding="UTF-8"?>
<configuration  scan="true" scanPeriod="60 seconds" debug="false">
    <contextName>${HOSTNAME}</contextName>
    <property name="LOG_PATH" value="phantom-log" />
    <springProperty scope="context" name="appName" source="spring.application.name" />
    <springProperty scope="context" name="ip" source="spring.cloud.client.ipAddress" />


    <conversionRule conversionWord="ip" converterClass="com.zhengjy.test.logstash.LogIpConfig" />

    <property name="CONSOLE_LOG_PATTERN"
              value="[%d{yyyy-MM-dd HH:mm:ss.SSS} ${ip} ${appName} %highlight(%-5level) %yellow(%X{X-B3-TraceId}),%green(%X{X-B3-SpanId}),%blue(%X{X-B3-ParentSpanId}) %yellow(%thread) %green(%logger) %msg%n"/>

    <!--<appender name="socket"-->
              <!--class="net.logstash.logback.appender.LogstashSocketAppender">-->
        <!--<filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
            <!--<level>INFO</level>-->
        <!--</filter>-->
        <!--<host>118.31.70.81</host>-->
        <!--<port>8084</port>-->
        <!--<customFields>{"appname":"zhengjy"}</customFields>-->
    <!--</appender>-->
    <!--<appender name="logstash"-->
              <!--class="net.logstash.logback.appender.LogstashTcpSocketAppender">-->
        <!--<destination>118.31.70.81:8084</destination>-->
        <!--&lt;!&ndash; encoder必须配置,有多种可选 &ndash;&gt;-->
        <!--<encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder">-->
            <!--<customFields>{"appname":"zhengjy"}</customFields>-->
        <!--</encoder>-->
        <!--&lt;!&ndash; <destination>destination1.domain.com:4560</destination>-->
            <!--<destination>destination2.domain.com:4560</destination>-->
            <!--<destination>destination3.domain.com:4560</destination> &ndash;&gt;-->
        <!--<connectionStrategy>-->
            <!--<roundRobin>-->
                <!--<connectionTTL>5 minutes</connectionTTL>-->
            <!--</roundRobin>-->
        <!--</connectionStrategy>-->
    <!--</appender>-->





    <!--输出到控制台-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <!-- <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
             <level>ERROR</level>
         </filter>-->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %contextName -ip: %ip [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <root level="INFO">
        <!--<appender-ref ref="socket"/>-->
        <!--<appender-ref ref="logstash"/>-->
        <appender-ref ref="console" />
        <!--<appender-ref ref="file" />-->
        <!--<appender-ref ref="logstashfile" />-->
    </root>

</configuration>